<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Personal portfolio website of Abdullah Dajani. I build pixel-perfect, engaging, and accessible digital experiences.">
    <meta name="keywords" content="Abdullah Dajani, Software Engineer, Portfolio, Web Development, JavaScript, Tailwind CSS, Flask">
    <meta name="author" content="Abdullah Dajani">

    <title>Abdullah Dajani {% block title %}{% endblock %}</title>

    <!-- Tailwind CSS link-->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    
    <!-- Font Awesom (for icons and illustrations)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Favicon (Edit it later)-->
    <!-- <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon"> -->

      <!-- Open Graph Meta Tags for better social sharing -->
    <meta property="og:title" content="Abdullah Dajani">
    <meta property="og:description" content="Personal portfolio website of Abdullah Dajani. I build pixel-perfect, engaging, and accessible digital experiences.">
    <!-- <meta property="og:image" content="/public/images/og-image.jpg"> -->
    <meta property="og:url" content="https://amdajani.com">
    <meta property="og:type" content="website">

     <!-- Twitter Card Meta Tags for better social sharing EDIT IT LATER
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Abdullah Dajani">
    <meta name="twitter:description" content="Personal portfolio website of Abdullah Dajani. I build pixel-perfect, engaging, and accessible digital experiences.">
    <meta name="twitter:image" content="/public/images/twitter-card.jpg"> -->
</head>
<body>
  test1
</body>
</html>